:root {
  --background-black-color: #212121;
  --background-white-color: #ffffff;
  --accent-grey-color: #757575;
  --btn-blue-color: #2196f3;
  --logo-black-color: #000000;
  --background-btn-color: #f5f4fa;
  --background-footer-color: #ffffff;
  --background-hero-color: #2f303a;
  --background-page-color: #f5f5f5;
  --footer-adres-color: rgba(255, 255, 255, 0.6);
  --header-border-line-color: #ececec;
  --cards-border-color: #eeeeee;
  /* --container-outline: 1px solid red; */
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--background-black-color);
  font-size: 14px;
  background-color: var(--background-white-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

address {
  font-style: normal;
}

.list {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ------------------------HEADER LOGO--------------------------------- */

.logo {
  margin-right: 93px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
}

.studio {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.38;
  color: #000;
}

/* ----------------HEADER---------------------------- */
.header {
  border-bottom: 1px solid var(--header-border-line-color);
}

.container-header {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-list .link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-link {
  color: #212121;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.header-link:hover,
.header-link:focus {
  color: #2196f3;
}

.header-item .link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-item {
}

.header-link + .header-link {
  margin-left: 50px;
}

.header-nav .link,
.logo-link {
  display: block;
}

.header-link.current {
  color: var(--btn-blue-color);
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts .contacts-item + .contacts-item {
  margin-left: 50px;
}

.contacts-link.link {
  font-weight: 500;
  font-style: normal;
  font-size: 14;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-grey-color);
  cursor: pointer;
}

.contacts-link.link:hover,
.contacts-link.link:focus {
  color: var(--btn-blue-color);
}

/* ------------HERO-------------- */

.current {
  color: var(--btn-blue-color);
}
.hero {
  background-color: #2f303a;
  /* width: 1600px */
}

.hero {
  padding: 200px 0px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-white-color);

  max-width: 696px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero-btn {
  display: block;

  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--background-white-color);
  letter-spacing: 0.06em;
  background-color: var(--btn-blue-color);
  cursor: pointer;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* ---------------- Наши ценности-------------- */
.hero-values {
  padding-bottom: 0;
  outline: var(--outline);
}

.hero-values-list {
  display: flex;
}

.hero-values-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--background-black-color);
}

.hero-values-item {
  width: 270px;
}

.hero-values-text {
  margin: 0;
  font-size: inherit;
  line-height: 1.71;
  color: var(--accent-grey-color);
}

.hero-values-list .hero-values-item + .hero-values-item {
  margin-left: 30px;
}

/*  ----------------------чем мы занимаемся------------------ */
.work-title,
.work-list {
  margin-bottom: 50px;

  color: var(--background-black-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

.work-list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

.work-list-item {
  padding-bottom: 0;
}

/*---------------------- наша команда-------------- */

.team {
  margin-bottom: 50px;
}

.our-team {
  background: var(--background-btn-color);
}

.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;
}

.team-item {
  width: 270px;
  background: var(--background-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
  outline: var(--outline);
  flex-basis: calc((100% - 30px * 3) / 4);
}

.team-name {
  color: var(--background-black-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.card-title {
  padding: 30px 0;
}

.team-job-title {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--accent-grey-color);
}

/*  ------------Портфолио-----------------*/

.portfolio-btn-item {
  padding: 6px 22px;

  letter-spacing: 0.03em;
  color: var(--background-black-colorcolor);
  background-color: var(--background-btn-color);
  font-family: inherit;
}

.portfolio-buttons-list {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-btn-active {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  padding: 6px 22px;
  color: var(--background-white-color);
  background-color: var(--btn-blue-color);
  letter-spacing: 0.06em;
  cursor: pointer;
}
.portfolio-btn-active:hover,
.portfolio-btn-active:focus {
  background-color: var(--btn-blue-color);
}

.portfolio-btn-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--background-black-color);
  background-color: var(--background-btn-color);
}

.portfolio-btn-item:hover,
.portfolio-btn-item:focus {
  color: var(--background-white-color);
  background-color: var(--btn-blue-color);
}

.portfolio-button-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-button-item:not(:last-child) {
  margin-right: 8px;
}

/* -----------------------WORKS----------------------- */
.works-list {
  display: flex;
  flex-wrap: wrap;
}

.card-works {
  padding: 20px 24px;
  border: 1px solid var(--cards-border-color);
  border-top: none;
}

.works-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;

  background: var(--background-white-color);
}

.works-item:nth-child(3n) {
  margin-right: 0;
}

.works-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.works-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--background-black-color);
}

.works-subtitle {
  font-size: 16px;
  line-height: 1.88;
  color: var(--accent-grey-color);
}

/* -------------------FOOTER---------------------  */

/*-------------------- Лого в футере------------------------ */
.studio-white {
  font-weight: 400;
  font-size: 26px;
  line-height: 1.38;
  color: var(--background-white-color);
}

.footer {
  background-color: var(--background-hero-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address {
}

.address-link {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--background-white-color);
}
.address-link:hover,
.address-link:focus {
  color: var(--btn-blue-color);
}

.footer-contacts-link {
  font-weight: 400;
  font-style: normal;
  font-size: 14;
  line-height: 1.71;
  letter-spacing: 0.02em;
  color: var(--accent-grey-color);
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--btn-blue-color);
}

.address-list {
  margin-top: 20px;
}

.address-list .link {
  color: var(--footer-adres-color);
  font-size: inherit;
  line-height: 1.71;
}

.address-list .address-link {
  color: var(--background-white-color);
}

.address-list {
  margin: bottom 60px;
}

.adress-list .link:hover,
.adress-list .linkk:focus {
  color: var(--accent-color);
}

.logo,
.address-list {
}

.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}
